@use '../../styles/functions' as *;

$prefix-cls: component-prefixes(button);

.#{$prefix-cls} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-size, var(--control-height-md));
  padding: 0 15px;
  line-height: 1.5715;
  white-space: nowrap;

  // 用 margin 而非 gap，便于 LoadingIcon 退出时把间距一并收掉
  > :first-child:not(:only-child) {
    margin-right: 8px;
  }

  &-size-small {
    --btn-size: var(--control-height-sm);
    padding: 0 7px;
  }

  &-size-large {
    --btn-size: var(--control-height-lg);
  }

  &-shape-circle,
  &-icon-only {
    width: var(--btn-size, var(--control-height-md));
    padding: 0;
  }

  &-block {
    display: flex;
    width: 100%;
  }

  &-loading-icon {
    flex: 0 0 auto;
    height: 1em;
    overflow: hidden;
  }
}